---
layout: default
title: Notes
notes: active
---
  
<!-- .welcome_bar -->         
         <div class="welcome_bar">
            <h1 class="intro">Блог</h1>
                 	  
	   <ul class="square-categories pull-right">
    <li><a href="/notes/medtech">медтех<span class="badge-category-medtech"></span></a> </li>
    <li><a href="/notes/razrabotka.html">разработка<span class="badge-category-razrabotka"></span> </a> </li>
    <li><a href="/notes/video.html">видио<span class="badge-category-video"></a> </li>
  </ul>
         </div>
         <br>
 <br>
 <br>


    
	<p> Пишу о том что интересно: веб дизайн: HTML, CSS, presentational JavaScript. Делюсь и комментирую ссылки. 
		Еще нравится снимать и монтировать видио, просто нравится поэтому иногда об этом тоже.  </p>
	     

	 <br>
 <br>


</div>
<!-- /.guide -->

<div class="notes">
  <div class="container">
    <div class="row">

      <div class="container page-content">


        <!-- Posts-list
  ================================================== -->
        {% for post in site.posts %}
        <div class="media">
          <div class="media-left media-top">
            {% if post.thumbnail %}
            <img class="posts-list-image rounded" src="{{ post.thumbnail }}" alt="{{ post.title }}" /> {% endif %}
          </div>
          <div class="media-body">
            {% if post.categories.size > 0 %} {% for category in post.categories %} {% if post.categories contains 'медтех' %}
            <a href="/notes/medtech.html"><span class="badge-category-medtech pull-right"></span> </a> {% endif %} {% if post.categories contains 'видио' %}
            <a href="/notes/video.html"><span class="badge-category-video pull-right"></span> </a> {% endif %} {% if post.categories contains 'разработка' %}
            <a href="/notes/razrabotka.html"><span class="badge-category-razrabotka pull-right"></span> </a> {% endif %} {% endfor %} {% endif %}
            <h4 class="media-heading"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h4> {{post.excerpt | strip_html | normalize_whitespace | escape | truncatewords: 20 }}
            <!-- Post info-tags  -->
            <div class="margin10 label-tag">
              {% if post.tags.size > 0 %} Tag{% if post.tags.size > 1 %}s{% endif %}: {{ post.tags | sort | join: " | " }}
              </p>
              {% endif %}
            </div>
          </div>
          <hr> {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- .notes -->
