---
layout: default
---

              <!-- Guide
  ================================================== -->  
      <div class="guide">
  <div class="title">
    <ul class="fa-ul">
      <li><i class="fa fa-github" style="font-size:48px;"></i><h1>GitBlog</h1></li>
      
    </ul>
    <p>GitHub как блоговая платформа.</p>

    <ul class="square-categories">

      <li><a href="/notes/medtech">медтех<span class="badge-category-medtech"></span></a> </li>
          
	
	
    </ul>
  </div>

</div>
<!-- /.guide -->



<div class="notes">
  <div class="container">
    <div class="row">
      
      
      <div class="container page-content">
        {% for post in site.posts %} {% if post.categories contains 'медтех' %}
        <div class="media">
          <div class="media-left media-top">
            {% if post.image %}
            <img class="posts-list-image rounded" src="{{ post.image }}" alt="{{ post.title }}" /> {% endif %}
          </div>
          <div class="media-body">

            <h4 class="media-heading"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h4> {{post.excerpt | strip_html | normalize_whitespace | escape | truncatewords: 40 }}
            <!-- Post info-tags  -->
            <div class="margin10 label-tag">
              {% if post.tags.size > 0 %} Tag{% if post.tags.size > 1 %}s{% endif %}: {{ post.tags | sort | join: " | " }}
              </p>
              {% endif %}
            </div>
          </div>
          <hr> {% endif %} {% endfor %}

        </div>
      </div>
    </div>
  </div>
