---
layout: default
notes: active
---
<div class="notes">


       
            <h1 class="single-post-title">{{ page.title }}</h1>
    
         <ul class="square-categories">
    
            {% if page.categories.size > 0 %} {% for category in page.categories %}
            
    <li> 
               {% if page.categories contains 'медтех' %}
               <a href="/notes/medtech.html">{{category}}<span class="badge-category-medtech"></span></a>
            </li>
            <div>
               {% elsif page.categories contains 'разработка' %}
               <a href="/notes/razrabotka.html">{{category}}<span class="badge-category-razrabotka"></span> </a> 
            </div>
            <div>
               {% elsif page.categories contains 'видио' %}
               <a href="/notes/video.html">{{category}}<span class="badge-category-video"></span></a>
            </div>
            {% endif %}
         </div>
       </ul>
      {% endfor %} {% endif %}

<!-- Post content -->
<div class="notebody">
   <!-- Featured Image-->
   {% if page.image %}
   <img class="featured-image-single" src="{{ page.image }}" alt="{{ page.title }}" /> {% endif %} {{ content }}
</div>
<!-- Post info -->
<div class="noteinfo">
<!-- include some categories and tags maybe? -->
<!-- Post category -->
<div class="metabox-k-d">
   <div class="metabox-d">
      <i class="fa fa-calendar"></i>{{ page.date | date:"%d.%m.%Y"}}
   </div>
   <hr>
   <!-- Post info-tags  -->
   <div class="margin10 label-tag">
      {% if page.tags.size > 0 %} Tag{% if page.tags.size > 1 %}s{% endif %}: {{ page.tags | sort | join: " | " }} {% endif %}
      </div>

</div>
</div>


</div>
<!-- /.notes -->
