---
layout: default
notes: active
---
<div class="notes">
   <div class="single note">
      <!-- Title and Category -->
      {% if page.categories.size > 0 %}             
      <small>   
      {% for category in page.categories %}
      <span class="label-category pull-right">{{category}}</span>
      {% endfor %}
      </small>
      {% endif %}    
      <h1 class="text-gray-dark">{{ page.title }}</h1>
      <!-- Date and Tags --> 
                 <div class="text-muted">
                     <small>
                     <i class="fa fa-calendar"></i>
                     <span>
                     {{ page.date | date:"%d.%m.%Y"}}
                     </span>
                     </small>
                  </div>
                  <!-- Post info-tags  -->  
                  {% if page.tags.size > 0 %} 
                  <div class="margin10 text-muted">
                     <small>
                     Tag{% if page.tags.size > 1 %}s{% endif %}:
                     <span class="label-tag">{{ page.tags | sort | join: " | " }}</span>
                     </small>
                  </div>
                  {% endif %}
      
      
      
      
      
      
      
      
      <!-- Post content -->
      <div class="notebody">
         <!-- Featured Image-->
         {% if page.image %}
         <img class="featured-image" src="{{ page.image }}" alt="{{ page.title }}" />
         {% endif %}
         {{ content }}
      </div>
      <!-- Post info -->
      <div class="noteinfo">
         <!-- include some categories and tags maybe? -->
      </div>
      <hr>
   </div>
   <!-- / .note .single -->
</div>
<!-- /.notes -->
