---
layout: default
notes: active
---
<div class="notes">

      <div class="topbar-single-post">
         <div class="post-article-title">
            <h1>{{ page.title }}</h1>
         </div>
         <div class="metabox-k-single">
            {% if page.categories.size > 0 %} {% for category in page.categories %}
            <div>
               {% if page.categories contains 'медтех' %}
               <p> <small class="pull-right">{{category}}</p>
               <span class="badge-category-medtech"></span></small>
            </div>
            <div>
               {% elsif page.categories contains 'разработка' %}
               <p><small class="pull-right">{{category}}</p>
               <span class="badge-category-razrabotka"></span></small>
            </div>
            <div>
               {% elsif page.categories contains 'видио' %}
               <p><small class="pull-right">{{category}}</p>
               <span class="badge-category-video"></span></small>
            </div>
            {% endif %}
         </div>
      </div>
      {% endfor %} {% endif %}
   </div>
</div>
<!-- Post content -->
<div class="notebody">
   <!-- Featured Image-->
   {% if page.image %}
   <img class="featured-image-single" src="{{ page.image }}" alt="{{ page.title }}" /> {% endif %} {{ content }}
</div>
<!-- Post info -->
<div class="noteinfo">
<!-- include some categories and tags maybe? -->
<!-- Post category -->
<div class="metabox-k-d">
   <div class="metabox-d">
      <i class="fa fa-calendar"></i>{{ page.date | date:"%d.%m.%Y"}}
   </div>
   <hr>
   <!-- Post info-tags  -->
   <div class="margin10 label-tag">
      {% if page.tags.size > 0 %} Tag{% if page.tags.size > 1 %}s{% endif %}: {{ page.tags | sort | join: " | " }} {% endif %}

   <!-- / .note .single -->
</div>
<!-- /.notes -->
